.App {
  text-align: center;
}

.welcome {
  width: 100px;
  height: 100px;
  background-color: rgb(50, 230, 230);
}

.game {
  width: 100px;
  height: 100px;
  background-color: rgb(66, 207, 38);
}

.congratulations {
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
}
.records {
  width: 100px;
  height: 100px;
  background-color: rgb(201, 55, 10);
}
.profile {
  width: 100px;
  height: 100px;
  background-color: rgb(211, 24, 195);
}

